# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Playwright
playwright-report/
test-results/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Misc
.env
*.zip
*.webm
*.png
*.md
